@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #0b3038;
}
main {
  min-height: calc(100vh - 172px);
}

*,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
ul {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}
